/* rootColors lightMode */
@media (prefers-color-scheme: light) {
    :root {
      --background-color: #eaeaea;
      --separator: linear-gradient(
        65deg,
        #ffef26,
        #fec800,
        #f19135,
        #e85e31,
        #e3312d
      );
  
      --main-bg: #eaeaea;
      --widget-bg: #fff;
      --bg-white: #fff;
      --color-title: #212121;
      --color-text: #212121;
      --color-footer-title: #e3312d;
      --color-link: #212121;
      --color-link-hover: #e3312d;
      --color-header: #fff;
      --color-header-footer-border: #e2e1e1;
      --color-border: #eaeaea;
      --color-display-border: #fff;
      --display-h3: #fff;
      --plyr-audio-controls-background: #fff;
    } /* :root light/default */
  
    footer {
      min-height: 375px;
      background-image: url("../images/bg_footer-light.jpg");
    }
  } /* @media light */
  
  /* rootColors darkMode */
  @media (prefers-color-scheme: dark) {
    :root {
      --separator: linear-gradient(65deg, #12151a, #222b3c, #111619);
      --main-bg: #0d1117;
      --navbar-bg: #161b22;
      --widget-bg: #161b22;
      --color-border: #21262d;
      --color-text-default: #8b949e;
      --color-accent: #ec1a62; 
      --plyr-audio-controls-background: #0e1011;
    } /* :root dark */
  
    footer {
      min-height: 375px;
      background-image: url("../images/bg_footer-dark.jpg");
    }
  } /* @media dark */