.DS_Store
/public/covers/
/public/social/
app/config/config.php
public/uploads/posts/*.jpeg
public/uploads/posts/*.jpg

# Dev stuff 
vendor/
composer.lock
style.css.map
toDolist.md
adminer.php

# fake stuff
*.mp3
