.vscode
.DS_Store
public/covers/
public/social/
public/uploads/
public/covers/
*.mp3
app/config/config.php
composer.json
composer.lock
rector.php
toDolist.md
/vendor/
public/htacfdefewfwcess
public/.htaccess
public/.htaccess
