.DS_Store
/public/covers/
/public/social/
app/config/config.php

# Dev stuff 
vendor/
node_modules/
composer.json
composer.lock
release-it.json
package-lock.json
package.json
rector.php
toDolist.md

# fake stuff
*.mp3
public/htacfdefewfwcess
examples_texts.txt
public/adminer.php
