@use '../utils/' as u;

.grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: min(100%, 700px);
    margin-inline: auto;

    &__main {
    background-color: #eaeaea;
    color: #eaeaea;
    }
    
}