@use '../utils/' as u;
.history {
    &__item {
        background-color: hsl(0, 0%, 100%);
        border-bottom: #212121 1px solid;
        padding-left:10px;
        border-radius: 5px;
        min-height: 125px;
        display: flex;
        margin-bottom: 0.5rem;
    }

    &__featured_image {
        width: 105px;
        height: 105px;       
        background-position: center;
        border-radius: 5px;
        float: left;
        margin-block: auto;
    }
    &__meta {
        margin-inline-start: 20px;
        margin-block: 10px;    
        }

    &__title{
        text-transform: uppercase;
        color: #101010;
        font-weight: 700;
    }

    &__artist{
        color: #6d6d6d;
    }
    &__time{
     font-family: u.$font-content;
     color: #212121;
     margin-inline: 1rem;
     margin-block: auto;
     width: 5em;
    }
}