@use '../utils/' as u;
.post {
    &__item{
        padding:10px 0 0 10px;
        margin-top: 0.5rem;
        height: auto;
    }

    &__featured_image {
        width: 105px;
        height: 105px;       
        background-position: center;
        border-radius: 5px;
        float: left;
        margin-right: 20px;
    }
    
    &__title{
        text-transform: uppercase;
        color: #101010;
        font-weight: 700;
    }
    
    &__meta{
        color: #101010;
    }
    
    &__content{
        font-size: u.rem(5);
        color: #101010;
    }
}